.userInf{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    // background-color: white; //nur zum test
    height: 500px;
    width: 400px;
}

.userPic{
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.current-userPic{
    color: var(--secondary-color);
}

.current-userPic .fa-pen{
    position: absolute;
    bottom: 0px;
    background-color: white;
    border-radius: 1000px;
    padding: 7px 7px;
    right: 5px;
    font-size: 18px;
    box-shadow: 1px 1px 30px black;
    cursor: pointer;
}
            .current-userPic .fa-pen:hover{
                background-color: rgb(208, 208, 208);
                transform: scale(0.96);
                transition: 200ms ease;
            }

.active-userPic{
    height: 120px;
    border-radius: 1000px;
    cursor: pointer;
}

.inf-join{
    top: 180px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    display: flex;
}

.inf-join input{
    outline: none;
    padding: 15px 25px;
    border-radius: 100px 0px 0px 100px;
    font-size: 18px;
    text-align: center;
    background-color: var(--secondary-color-min);
    border: none;
    color: var(--oppa-text-color);
}
            .inf-join input:active{
                transform: scale(0.96);
                transition: 200ms ease
            }

            .inf-join input:hover{
                background-color: var(--secondary-hover-color);
            }

            .inf-join input:focus{
                color: var(--text-color);
            }

            .inf-join input::placeholder{
                color: var(--oppa-text-color);
                opacity: 0.9;
            }

.join{
    padding: 15px 25px;
    border-radius:0px 100px 100px 0px;
    border: none;
    cursor: pointer;
    background-color: var(--accent-color-blue);
    font-size: 16px;
    white-space: nowrap;
}
            .join:active{
                transform: scale(0.95);
                transition: 200ms;
            }

            .join:hover{
                background-color: var(--accent-color-blue-hover);
            }

.dropdown-userPic{
    position: absolute;
    background-color: var(--primary-color);
    height: 60vh;
    width: 40vw;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
    color: var(--secondary-color);
    top: -50px;
    border-radius: 30px;
    overflow: auto;
}

.pictures-dropdown{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
}

.pic{
    height: 80px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 1000px;
    cursor: pointer;
}
            .pic:hover{
                transform: scale(0.96);
                transition: 200ms;
            }

.leave{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}
            .leave:hover{
                background-color: rgba(255, 0, 0, 0.456);
            }

.awnser-container{
    width: 100%;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
}

.question-awnser{
    width: 48%;
    height: 100px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    margin-right: 1%;
    margin-left: 1%;
    cursor: pointer;
}
            .question-awnser:hover{
                transform: scale(0.99);
                transition: 200ms ease;
                background-color: white;
            }

            .question-awnser:active{
                transform: scale(0.96);
                transition: 100ms ease;
            }

.question-awnser:nth-child(1){
    background-color: white;
}

.question-awnser:nth-child(2){
    background-color: white;
}
.question-awnser:nth-child(3){
    background-color: white;
}
.question-awnser:nth-child(4){
    background-color: white;
}

.question{
    font-size: 25px;
    left: 50%;
    transform: translate(-50%);
    top: 150px;
    position: absolute;
}